#page-container {
    width: 760px;
    margin: auto;
    background: rgb(179, 179, 21);
    text-align: left;
}

#header {
    background: blue;
    height: 150px;
}

#content {
    background: rgb(20, 86, 20);
}

#footer {
    background: orange;
    height: 66px;

}




